## Execises: Module 5 - Lists, Tuples, Sets

### Execises: Lists - Level 1

In [ ]:
# 1. Declare an empty list

empty_list = []
print(empty_list)

In [ ]:

# 2. Declare a list with multiple values

multiple_values = [1, 2, 3, 4, 5]
print(multiple_values)

In [ ]:

# 3. find the length of your list

multiple_values = [1, 2, 3, 4, 5]
print(len(multiple_values))

In [ ]:
# 4. Get the first item, the middle item and the last item of the list

multiple_values = [1, 2, 3, 4, 5]
first_item = multiple_values[0]
middle_item = multiple_values[len(multiple_values) // 2]
last_item = multiple_values[-1]
print(first_item, middle_item, last_item)

In [ ]:
# 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Assanatou', 30, 1.85, 'married', 'Banjul']
print(mixed_data_types)

In [ ]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 7. Print the list using print()
print(it_companies)

# 8. Print the number of companies in the list

print(len(it_companies))

# 9. Print the first, middle and last company

print(it_companies[0], it_companies[len(it_companies) // 2], it_companies[-1])

In [ ]:
# 10. Print the list after modifying it 

it_companies[0] = 'Meta'
print(it_companies)

In [ ]:
# 11. Add an IT company to it_companies

it_companies.append('Tesla')
print(it_companies)

In [ ]:

# 12. Insert an IT company in the middle of the companies list

it_companies.insert(len(it_companies) // 2, 'Cisco')
print(it_companies)

In [ ]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

it_companies[4] = it_companies[4].upper()
print(it_companies)

In [ ]:
# 14. Join the it_companies with a string '#;  '
it_companies = '; '.join(it_companies)
print(it_companies)

In [ ]:
# 15. Check if a certain company exists in the it_companies list.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print('Google' in it_companies)

In [ ]:
# 16. Sort the list using sort() method

it_companies.sort()
print(it_companies)

# 17. Sort the list using sorted() method

sorted_it_companies = sorted(it_companies)
print(sorted_it_companies)

In [ ]:
# 17. Reverse the list in descending order using reverse() method

it_companies.reverse()
print(it_companies)

In [ ]:
# 18. Slice out the first 3 companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies = it_companies[0:3]
print(it_companies)

In [ ]:
# 19. Slice out the last 3 companies from the list  

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies = it_companies[-3:]
print(it_companies)

In [ ]:
# 20. Slice out the middle IT company or companies from the list    

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies = it_companies[1:-1]
print(it_companies)

In [ ]:
# 21. Remove the first IT company from the list

it_companies.pop(0)
print(it_companies)

In [ ]:
# 22. Remove the middle IT company or companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove(it_companies[1])
print(it_companies)

In [ ]:
# 23. Remove the last IT company from the list  

it_companies.pop(-1)
print(it_companies)

In [ ]:
# 24. Remove all IT companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()
print(it_companies)

In [ ]:
# 25. Destroy the IT companies list

del it_companies
print(it_companies)

In [ ]:
# 26. Join the following lists front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] , back_end = ['Node','Express', 'MongoDB']

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

In [ ]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux   

full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node','Express', 'MongoDB' ]
full_stack.insert(full_stack.index('Redux') + 1, 'Python')
full_stack.insert(full_stack.index('Redux') + 2, 'SQL')
print(full_stack)